{% extends '_base.html' %}
{% load static%}

{%block header%}
    <div class="relative flex min-h-screen w-full flex-col items-center bg-background-light dark:bg-background-dark text-[#0d171b] dark:text-slate-200">
    <!-- Barra Superior -->
    <div class="w-full">
    <header class="flex w-full items-center justify-between whitespace-nowrap border-b border-solid border-slate-200/80 dark:border-slate-800 px-4 sm:px-6 md:px-10 py-3">
    <div class="flex items-center gap-4">
    <div class="size-6 text-primary">
    <svg fill="none" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" d="M24 4H6V17.3333V30.6667H24V44H42V30.6667V17.3333H24V4Z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>
    </div>
    <h2 class="text-lg font-bold leading-tight tracking-[-0.015em]">Biblioteca Digital</h2>
    </div>
    <div class="hidden md:flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'home'%}">Início</a>
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'sobre' %}">Sobre</a>
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'catalogo' %}">Catálogo</a>
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'emprestimos'%}">Empréstimos</a>
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'usuarios'%}">Usuários</a>
    <a class="text-sm font-medium leading-normal hover:text-primary dark:hover:text-primary" href="{% url 'troca_senha' %}">Alterar Senha</a>
    </div>
    <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] hover:bg-primary/90 transition-colors">
    <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-right" ></i> Sair</a>
    </button>
    </div>
    <button class="md:hidden p-2 rounded-lg hover:bg-slate-200 dark:hover:bg-slate-800">
    <span class="material-symbols-outlined">menu</span>
    </button>
    </header>
    </div>
{% endblock header%}

{% block content %}{% endblock content%}
